<h1 class="content-title">Edit collection <span class="text-primary"><%= @card_collection.title %></span></h1>

<div class="card mx-0">
  <%= form_with model: @card_collection, url: card_collection_path(@card_collection), method: :patch do %>
    <div class="form-group">
      <%= label_tag :title %>
      <%= text_field :card_collection, :title, required: false, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="custom-checkbox">
        <%= check_box :card_collection, :is_public %>
        <%= label_tag :card_collection_is_public, 'Share this cards collection with everybody (make it public)' %><br>
      </div>

      <div class="mt-5">
        <small class="text-muted">(This can be later changed in settings)</small><br>
      </div>
    </div>

    <%= submit_tag 'Save changes', class: 'btn btn-primary' %>
  <% end %>
</div>
