<div class="d-flex justify-content-between">
  <h2 class="content-title">
    <%= @card_collection.title || "Untitled card collection" %>
    <br>
    <span class="text-muted font-size-14">
      <%= @card_collection.is_public ? "Public" : "Private" %>
      collection created by
      <span class="text-white text-monospace"><%= @card_collection.user.username %></span>
      <span title="<%= @card_collection.created_at.to_s :long %>">
      <%= distance_of_time_in_words(Time.now, @card_collection.created_at) %> ago
    </span>
  </span>
  </h2>

  <div>
    <% if can? :manage, @card_collection %>
      <%= link_to "Edit", edit_card_collection_path(@card_collection), class: "btn" %>
      <%= link_to "Manage cards", card_collection_cards_path(@card_collection), class: "btn" %>
    <% end %>
  </div>
</div>

