<div class="d-flex justify-content-between">
  <h2 class="content-title">
    <%= @card_collection.title || "Untitled card collection" %>
    <br>
    <span class="text-muted font-size-14">
      <%= @card_collection.is_public ? "Public" : "Private" %>
      collection created by
      <span class="text-white text-monospace"><%= @card_collection.user.username %></span>
      <span title="<%= @card_collection.created_at.to_s :long %>">
      <%= distance_of_time_in_words(Time.now, @card_collection.created_at) %> ago
    </span>
    <% unless @card_collection.subject.nil? %>
      <br>
      <div class="badge badge-pill">
        <span class="text-monospace"><%= @card_collection.subject.code %></span> | <%= @card_collection.subject.title %>
      </div>
    <% end %>
  </span>
  </h2>

  <div>
    <% if can? :manage, @card_collection %>
      <%= link_to "Edit", edit_card_collection_path(@card_collection), class: "btn" %>
      <%= link_to "Manage cards", card_collection_cards_path(@card_collection), class: "btn" %>
    <% end %>
  </div>
</div>

<div id="viewer__container">JavaScript is required in order to use this application</div>
<div id="viewer__template" style="display: none">
  <div>
    <div class="card mx-0">
      <div class="clearfix">
        <div class="float-right">
          <div class="btn" @click="previousCard"><i class="fas fa-arrow-left"></i></div>
          <div class="btn btn-primary" style="width: 4em" @click="toggleReveal">
            <i class="fas fa-eye-slash" v-if="revealed"></i>
            <i class="fas fa-eye" v-else></i>
          </div>
          <div class="btn" @click="nextCard"><i class="fas fa-arrow-right"></i></div>
        </div>
        <div class="card-title">{{ card.title }}</div>
      </div>
      <div v-if="this.loaded">
        <div class="text-muted font-size-12">Card {{ current + 1 }} of {{ cards.length }}</div>
        <div class="content mx-0 font-size-24 text-center" id="viewer__text">
          {{ revealed ? card.answer : card.question }}
        </div>
      </div>
      <div v-else>
        <div class="progress mt-10">
          <div class="progress-bar progress-bar-animated bg-dark" role="progressbar" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>window.__cards_url = "<%= card_collection_cards_url(@card_collection, format: :json) %>";</script>
<%= javascript_pack_tag 'card_collection_viewer' %>

