<!DOCTYPE html>
<html>
  <head>
    <title>Avocado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if authenticated? %>
      <small>Signed in as <%= current_user.username %></small>
      <%= button_to "Sign out", sign_out_path, method: :delete %>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
